<!DOCTYPE html>
<html xmlns="http:www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Adding a Country...</title>
	</head>
	
	<body>
		<form action="#" th:action="@{/save}" th:object="${country}" method="post">
			Country Name: <input type="text" th:field="*{countryName}"/><br>
			Country Capital: <input type="text" th:field="*{capitalName}"/><br>
			Country Population: <input type="text" th:field="*{population}"/><br>
			<button type="submit">Add Country</button>
		</form>
	</body>
</html>